
body {
    background: #9f86c0;
    height: 100vh; /* Ensure full height */
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    margin: 0; /* Removes any default margin */

}
.logo {
    width: 100px;  /* Set the width for the logo */
    height: auto;
    margin-bottom: 20px;  /* Space between the logo and the heading */
}

/* Container for the form */
.container_ {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;  /* Flexbox for alignment */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Ensure both heading and form are centered horizontally */
}

/* Heading style */
.heading {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;  /* Space between heading and form */
}

/* Form layout */
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Form group layout (each label and input) */
.formGroup {
    display: flex;
    flex-direction: column;
}

/* Label styling */
.label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

/* Input fields styling */
.input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

/* Button styling */
.button {
    padding: 12px;
    font-size: 16px;
    border: none;
    background-color: #192a51;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

/* Hover effect for the button */
.button:hover {
    background-color: #be95c4;
}
h2{
    color: #930000;
}