/* Ensure the entire layout takes up full height and is aligned to the left */
.container {
    display: flex;
    flex-direction: row;  /* Change to row to align content horizontally */
    height: 100%;
    justify-content: flex-start;  /* Align the content to the left */
    align-items: stretch;  /* Ensure the container takes full height */
}

/* Content area: this section will take the remaining space */
.content {
    display: flex;
    flex-grow: 1;  /* Content should take the remaining space */
    height: 100%;
    padding-left: 50px;  /* Adjust based on sidebar width */
    align-items: center;
    justify-content: center;  /* Center the content horizontally inside */
}

/* Sidebar */
.sidebar {
    user-select: none;
    width: 70px;
    background: #5e548e;
    transition: width 0.5s ease-in;
    box-shadow: 2px 0 2px 2px rgba(0, 0, 0, 0.21);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 100%;
}

/* Sidebar menu */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li .text {
    opacity: 0;
    visibility: hidden;  /* Hide the text */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
/* Show the text on hover */
.menu li:hover .text {
    opacity: 1;
    visibility: visible; /* Text becomes visible */
}

.menu li {
    display: flex;
    align-items: center;
    margin: 0 0 5px 0;
    padding: 55px 10px 40px 20px;
    color: #9f86c0;
    border-left: 5px solid #000000;
    transition: all 0.3s ease;
    position: relative;
}

/* Hover and selected item */

.menu li:hover {
    background: #dcd4d4;
    border-left-color: #E0E0E0;
    color: #FFFF;
    border-left: 0px;
}

li{
    margin: 0 0 5px 0;
    padding: 10px 15px ;
}
. menu li.selected {
    color: #5e548e;


}
.icon {
    margin-right: 20px;
    max-width: 30px;
    font-size: 1.2em;
    display: flex;
}

.icon i {
    width: 20px;
}

/* Expanding sidebar on hover */
.sidebar.hovered {
    width: 150px; /* Expanded width */
    cursor: pointer;
}

/* Module container - for main content */
.module-container {
    flex-grow: 1;
    padding: 20px;
}

/* Main content sections */
.module-gist,
.main-view {
    padding: 20px;
}
